NAME="@@__UID__@@-Ubuntu(Public)"
CONTEXT=[
	FILES="/var/lib/one/files/public-vm/init.sh /var/lib/one/.ssh",
	ONE_UID="@@__UID__@@",
	IS_EYWA="no",
	IS_VR="no",
	PASSWD="$USER[ROOT_PW]",
	SSH_PUBLIC_KEY="$USER[SSH_PUBLIC_KEY]",
	ETH0_IP="$NIC[IP,NETWORK=\"Public-Net\"]",
	ETH0_MAC="$NIC[MAC,NETWORK=\"Public-Net\"]"
]

CPU="0.2"
VCPU="2"
DISK=[IMAGE="Ubuntu-14.04",IMAGE_UNAME="oneadmin"]
FEATURES=[ACPI="yes"]
GRAPHICS=[LISTEN="0.0.0.0",TYPE="VNC"]
MEMORY="256"
NIC=[MODEL="virtio",NETWORK="Public-Net",NETWORK_UNANME="oneadmin"]
OS=[ARCH="x86_64",BOOT="hd"]
