DATASTORE=[
  ID="1",
  IMAGES="10",
  SIZE="102400"
]

DATASTORE=[
  ID="2",
  IMAGES="10",
  SIZE="102400"
]

VM=[
  CPU="10",
  MEMORY="10240",
  VMS="10",
  VOLATILE_SIZE="-1"
]

NETWORK=[
  ID="11",
  LEASES="10"
]

IMAGE=[
  ID="8",
  RVMS="5"
]
