auto VSe
iface VSe inet static
    address <%= @my_ip %>
    netmask 255.255.255.0
    bridge_ports eth1
    bridge_fd 9
    bridge_hello 2
    bridge_maxage 12
    bridge_stp off
    #post-up arp -s 192.168.33.2 <%= @pub_gw_mac %> dev $IFACE
