auto VSe
iface VSe inet static
    address <%= @my_ip %>
    netmask 255.255.255.0
    bridge_ports eth1
    bridge_fd 9
    bridge_hello 2
    bridge_maxage 12
    bridge_stp off
    post-up ip addr add 192.168.33.2/24 dev $IFACE
    post-up iptables -t nat -I POSTROUTING -o eth0 -s 192.168.33.0/24 -j MASQUERADE
    pre-down ip addr del 192.168.33.2/24 dev $IFACE
    pre-down iptables -t nat -D POSTROUTING -o eth0 -s 192.168.33.0/24 -j MASQUERADE
