NAME            = "Test Network"
DESCRIPTION     = "A test network for VM"
TYPE            = "RANGED"
BRIDGE          = "br0"
VLAN            = "NO"
NETWORK_ADDRESS = "192.168.33.0"
NETWORK_MASK    = "255.255.255.0"
DNS             = "8.8.8.8"
GATEWAY         = "192.168.33.2"
IP_START        = "192.168.33.201"
IP_END          = "192.168.33.250"
